.not-active {
  display: none;
}

.menu-container {
  position: relative;
}

.menu-list {
  position: absolute;
  list-style: none;
  width: max-content;
  background-color: aliceblue;
}

.menu-item {
  padding: .3rem;
} 

.menu-item:hover {
  background-color: rgb(204, 211, 211);
}

